@import "assets/fonts/fonts.css";

@import "utilis.scss";

body {
  background:  #0E1014;
  padding: 46px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@include s {
  body {
    padding: 0;
    max-width: 540px;
  }
}

@include md {
  body {
    padding: 0 16px 0 16px;
  }
}