@import "../../utilis";

.container {
    width: 1140px;
    height: 73px;
    flex-shrink: 0;
    display: flex;
}

.leftPart {
    width: 140px;
    height: 73px;
}

.leftPartPictures {
    width: 140px;
    height: 24px;
    display: flex;
    justify-items: center;
    align-items: center;
    column-gap: 8px;
}

.leftPartText {
    width: 140px;
    height: 24px;
    color: #E4E5EA;
    font-family: Montserrat, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.buttonsDiv {
    column-gap: 30px;
    margin-left: 52px;
    margin-right: 137px;
    white-space: nowrap;
}

.buttons {
    color: var(--light-text, #E4E5EA);
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none; /* убираем границу */
    background: none;
}

.buttonsLast {
    color: var(--light-text, #E4E5EA);
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none; /* убираем границу */
    background: none;
}

.rightPart {
    display: flex;
    column-gap: 80px;
    padding-top: 4px;
}

.numberDiv {
    display: flex;
}

.number {
    white-space: nowrap;
    //display: inline;
    color: var(--light-text, #E4E5EA);
    text-align: right;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 19px;
    text-decoration: none;
}

.icons {
    display: flex;
    column-gap: 30px;
}

.iconsButton {
    border: none; /* убираем границу */
    background: none;
    height: 20px;
}

@include s {
    .container{
        width: 540px;
        height: 73px;
        display: flex;
    }
    .leftPart {
        display: none;
        width: 0;
    }
    .rightPart {
        display: none;
        column-gap: 0;
        padding-top: 0;
        width: 0;
    }
    .buttonsDiv {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 16px 20px;
        column-gap: 16px;
        //margin-left: 52px;
        //margin-right: 137px;
    }
    .buttonsLast {
        display: none;
    }
    .buttons {

    }
}