@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("./Montserrat-Regular.woff") format("opentype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("./Montserrat-Bold.woff") format("opentype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./Inter-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("./Inter-Bold.ttf") format("opentype");
}

