@import "../../utilis";

.container {
    opacity: 0;
    width: 100%;
    height: 550px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    margin-bottom: 55px;
    animation: 3s fadeIn ease-in-out forwards;
    transition: 0.5s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.leftPart {
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: flex-start;
    margin-right: auto;
}

.rightPart {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.l1text {
    color: #E4E5EA;
    font-family: Inter, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 362px;
}

.l2text {
    color: #E4E5EA;
    font-family: Inter, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    background-image: linear-gradient(90deg, #FCB045, #FF3F78);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.l3text {
    color: var(--light-text, #E4E5EA);
    font-family: Montserrat, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    row-gap: 30px;
    width: 275px;
}

.lEmpty {
    height: 94px;
}

.l2Empty {
    height: 30px;
}

.rEmpty {
    height: 105px;
}

.r1text {
    width: 291px;
    flex-direction: row;
    margin-left: auto;
}

.r1PartWhite {
    background: var(--light-text, #E4E5EA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--light-text, #E4E5EA);
    text-align: right;
    font-family: Inter, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: none;
}

.r1PartColor {
    background: var(--gradient, linear-gradient(90deg, #fcb045 36.99%, #FD1D1D 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    text-align: end;
}

.r2text {
    margin-top: 40px;
    display: grid;
    grid-template-columns: [start] 135px [line1] 135px [end];   
    grid-template-rows: [row1-start] 68px [row1-end] 68px [last];
    column-gap: 30px;
    row-gap: 30px;
    place-self: end;
}

.r2TextPhone {
    color: var(--light-text, #E4E5EA);
    font-family: Montserrat, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    display: none;
}

.line {
    width: 10px;
    height: 0.8px;;
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    display: none;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    row-gap: 6px;
}

.item2 {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    row-gap: 6px;
}

.item3 {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    row-gap: 6px;
}

.item4 {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    row-gap: 6px;
}

.r2textOrdianry {
    color: #E4E5EA;
    text-align: right;
    font-family: Montserrat, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.r2textTitle {
    color: var(--light-text, #E4E5EA);
    text-align: right;
    font-family: Inter, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.r2Empty {
    height: 42px;
}

.blueButton {
    width: 262px;
    height: 61px;
    flex-shrink: 0;
    background: #4077F3;
    border: none;
    color: var(--light-text, #E4E5EA);
    text-align: center;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 61px;
    margin-left: auto;
}

@include md{
    .container {
        height: auto;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 59px;
    }

    .rightPart {
        margin-left: 0;
        margin-right: auto;
        margin-top: 45px;
    }

    .l1text {
        font-size: 36px;
        width: 272px;
    }

    .l2text {
        font-size: 36px;
    }

    .r1text {
        width: 272px;
        margin-left: 0;
        margin-right: auto;
    }

    .r1PartColor {
        text-align: start;
        text-transform: none;
    }

    .r2text {
        margin-top: 20px;
        grid-template-columns: [start] auto [line1] auto [end];
        grid-template-rows: [row1-start] auto [row1-end] auto [last];
        column-gap: 10px;
        row-gap: 14px;

        place-self: normal;
        justify-items: start;
    }

    .r2TextPhone {
        display: flex;
    }

    .line {
        display: block;
        align-self: center;
    }

    .item1 {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        row-gap: 0;
        column-gap: 5px;
        grid-template-columns: auto auto;
    }

    .item2 {
        grid-column: 2;
        grid-row: 1;
        display: grid;
        row-gap: 0;
        column-gap: 5px;
        grid-template-columns: auto auto;
    }

    .item3 {
        grid-column: 1;
        grid-row: 2;
        display: grid;
        row-gap: 0;
        column-gap: 5px;
        grid-template-columns: auto auto;
    }

    .item4 {
        grid-column: 2;
        grid-row: 2;
        display: grid;
        row-gap: 0;
        column-gap: 5px;
        grid-template-columns: auto auto;
    }

    .r2textOrdianry {
        display: none;
    }

    .r2textTitle {
        display: none;
    }

    .blueButton {
       display: none;
    }
}
