@import "../../utilis";

.container {
  margin-top: 55px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.emptyTop {
  height: 55px;
}

.footer {
  display: flex;
  flex-direction: row;
  column-gap: 98px;
  row-gap: 10px;
  height: 100%;
}

.itemTitle {
  color: var(--dark-gray, #656566);
  /* маленькие заголовки */
  font-family: Inter, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.itemTitleR {
  color: var(--dark-gray, #656566);
  /* маленькие заголовки */
  font-family: Inter, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-left: auto;
}

.itemOrdinary {
  display: grid;
  row-gap: 10px;
  grid-template-rows: auto auto;
  white-space: nowrap;
}

.itemOrdinaryC {
  display: grid;
  row-gap: 10px;
  grid-template-columns: auto auto;
  column-gap: 52px;
  grid-template-rows: auto auto auto auto auto;
  white-space: nowrap;
}

.itemOrdinaryR {
  display: grid;
  row-gap: 20px;
  grid-template-rows: auto auto auto;
}

.buttons {
  color: var(--light-text, #E4E5EA);
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none; /* убираем границу */
  background: none;
  display: flex;
  padding: 0 0;
  text-align: start;
}

.buttonSwap1 {
  grid-column: 2;
  grid-row: 2;
  display: grid;
}

.buttonSwap2 {
  grid-column: 2;
  grid-row: 1;
  display: grid;
}

.buttonSwap3 {
  display: none;
  grid-column: 2;
  grid-row: 1;
}

.numberD {
  color: var(--light-text, #E4E5EA);
  text-align: right;
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 19px;
  text-decoration: none;
  border: none; /* убираем границу */
  background: none;
  display: flex;
  justify-content: flex-end;
  padding: 0 0;
}

.icons {
  display: flex;
  column-gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0;
}

.iconsButton {
  border: none; /* убираем границу */
  background: none;
  padding: 0 0;
}

.address {
  color: var(--light-text, #E4E5EA);
  text-align: right;
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bottom {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  animation: 10s fadeIn ease-in-out forwards;
}

.text1 {
  color: var(--light-text, #E4E5EA);
  text-align: right;
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text2 {
  color: var(--light-text, #E4E5EA);
  text-align: right;
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.block1 {
  width: 195px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  opacity: 0;
  animation: 4s fadeIn ease-in-out forwards;
}

.block2 {
  width: 408px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  animation: 7s fadeIn ease-in-out forwards;
}

.block3 {
  width: 277px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  animation: 8s fadeIn ease-in-out forwards;
}

.icon {
  width: 20px;
  height: 20px;
}

@include l {
  .footer{
    display: flex;
    flex-direction: row;
    column-gap: 98px;
    row-gap: 30px;
    height: auto;
    flex-wrap: wrap;
  }

  .block3 {
    width: auto;
    margin-left: 0;
    margin-right: auto;
  }

  .itemTitleR {
      margin-left: 0;
      margin-right: auto;
  }

  .numberD {
    justify-content: flex-start;
  }

  .icons {
    justify-content: flex-start;
  }

  .iconsButton {
    border: none; /* убираем границу */
    background: none;
    padding: 0 0;
  }

  .address {
    text-align: left;
  }

  .text1 {
    text-align: left;
  }

  .text2 {
    text-align: left;
  }

  .bottom {
    margin-top: 50px;
  }

  .itemOrdinaryR {
    row-gap: 10px;
  }
}

@include md {
  .container {
    margin-top: 41px;
    margin-bottom: 60px;
  }
}

@include sm {

}

@include s {
  .address {
    font-size: 14px;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .itemTitle {
    font-size: 12px;
    letter-spacing: 0.6px;
  }
  .itemTitleR {
    font-size: 12px;
    letter-spacing: 0.6px;
  }
  .buttons {
    font-size: 14px;
  }
  .buttonSwap1 {
    display: none;
  }
  .buttonSwap2 {
    grid-row: 2;
  }
  .buttonSwap3 {
    display: grid;
  }
  .block2 {
    width: auto;
  }
  .itemOrdinaryC {
    grid-template-columns: 120px 130px;
    white-space: normal;
    column-gap: 28px;
  }
  .numberD {
    white-space: nowrap;
  }
  .address {
    white-space: nowrap;
  }
  .text1 {
    white-space: nowrap;
  }
  .text2 {
    white-space: nowrap;
  }
}

@include xs {

}