@import "../../utilis";

.container {
  margin-top: auto;
  width: 1140px;
  display: flex;
  flex-direction: column;
}

.emptyTop {
  height: 55px;
}

.footer {
  display: flex;
  flex-direction: row;
  column-gap: 98px;
  row-gap: 10px;
  height: 180px;
}

.itemTitle {
  color: var(--dark-gray, #656566);
  /* маленькие заголовки */
  font-family: Inter, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.itemTitleR {
  color: var(--dark-gray, #656566);
  /* маленькие заголовки */
  font-family: Inter, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-left: auto;
}

.itemOrdinary {
  display: grid;
  row-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  white-space: nowrap;
}

.itemOrdinaryC {
  display: grid;
  row-gap: 10px;
  grid-template-columns: 212px 212px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  white-space: nowrap;
}

.itemOrdinaryR {
  display: grid;
  row-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.buttons {
  color: var(--light-text, #E4E5EA);
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none; /* убираем границу */
  background: none;
  display: flex;
  padding: 0 0;
}

.numberD {
  color: var(--light-text, #E4E5EA);
  text-align: right;
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 19px;
  text-decoration: none;
  border: none; /* убираем границу */
  background: none;
  display: flex;
  justify-content: flex-end;
  padding: 0 0;
}

.icons {
  display: flex;
  column-gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0;
}

.iconsButton {
  border: none; /* убираем границу */
  background: none;
  height: 20px;
  padding: 0 0;
}

.address {
  color: var(--light-text, #E4E5EA);
  text-align: right;
  font-family: Inter, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bottom {
  display: flex;
  flex-direction: column;
  margin-top: 53px;
}

.text1 {
  color: var(--light-text, #E4E5EA);
  text-align: right;
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text2 {
  color: var(--light-text, #E4E5EA);
  text-align: right;
  font-family: Montserrat, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.block1 {
  width: 195px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.block2 {
  width: 408px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.block3 {
  width: 277px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@include s {
  .container{
    width: 540px;
    display: flex;
    flex-direction: column;
  }
  .footer{
    display: flex;
    flex-direction: column;
    column-gap: 98px;
    row-gap: 10px;
  }

  .buttons {
    color: var(--light-text, #E4E5EA);
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none; /* убираем границу */
    background: none;
    display: flex;
    padding: 0 0;
  }

  .itemOrdinary {
    display: grid;
    row-gap: 10px;
    grid-template-rows: 1fr 1fr;
    white-space: normal;
  }

  .itemOrdinaryC {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    white-space: normal;
    margin-left: auto;
  }

  .block1 {
    width: 289px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .block2 {
    width: 289px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .block3 {
    width: 289px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

}
